clone_depth: 5
version: 1.0.0.{build}
image: Visual Studio 2017
init:
- ps: >-
    if ($env:APPVEYOR_REPO_TAG -eq "true") {
      Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))"
    }
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
nuget:
  account_feed: true
  project_feed: true
before_build:
- nuget restore D2L.Hypermedia.Siren\D2L.Hypermedia.Siren.sln
build:
  publish_nuget: true
  publish_nuget_symbols: true
  parallel: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: u0+jSIJDY1OFj8BJ+oIsnTu72R4DFb/YDkCLub+oGzjSmSM8DmFTKzoSi7nIHDnp
  skip_symbols: true
  on:
    appveyor_repo_tag: true